In [9]:

value = input("Enter something: ")
int_val = int(value)
float_val = float(value)
str_val = str(value)
bool_val = bool(value)
print(int_val,type(int_val))
print(float_val,type(float_val))
print(str_val,type(str_val))
print(bool_val,type(bool_val))

Enter something:  25

25 <class 'int'>
25.0 <class 'float'>
25 <class 'str'>
True <class 'bool'>

In [ ]:
#code 2

In [11]:
n = float(input("Enter a number: "))
print("Float:", n)
print("Int:", int(n), "→ int() removes decimal part, not round")

Enter a number:  12.9

Float: 12.9
Int: 12 → int() removes decimal part, not round

In [ ]:
#code 3

In [1]:

b = input("Enter True or False: ")


b = b == "True"


as_int = int(b)
as_str = str(b)


print("Boolean value:", b)
print("As integer:", as_int)
print("As string:", as_str)

Enter True or False:  5

Boolean value: False
As integer: 0
As string: False

In [ ]:
#code 4

In [2]:
# Declare variables of each datatype
i = 10                          
f = 3.14                        
s = "Hello"                     
b = True                         
l = [1, 2, 3]                    
t = (4, 5, 6)                   
d = {"name": "Om", "age": 20}


for var in [i, f, s, b, l, t, d]:
    print("Value:", var, "| Type:", type(var), "| Memory Address:", id(var))

Value: 10 | Type: <class 'int'> | Memory Address: 140725334291656
Value: 3.14 | Type: <class 'float'> | Memory Address: 2380581590320
Value: Hello | Type: <class 'str'> | Memory Address: 2380620160320
Value: True | Type: <class 'bool'> | Memory Address: 140725333379552
Value: [1, 2, 3] | Type: <class 'list'> | Memory Address: 2380581939648
Value: (4, 5, 6) | Type: <class 'tuple'> | Memory Address: 2380581912640
Value: {'name': 'Om', 'age': 20} | Type: <class 'dict'> | Memory Address: 2380581909696

In [3]:
#code 5

In [7]:
a = b = 10
print(id(a), id(b))  
a = 40
print(id(a), id(b))

140725334291656 140725334291656
140725334292616 140725334291656